body
{
    background-color: blue;
    background-image: url('../images/kosmoo.jpg');

    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.nav-css {
    font-size: 26px;
    margin-left: 400px;
.box
{
    width: 100px;
    height: 100px;

    background-image: url('reeastrono.jpg');

    background-image: url('./images/freeastrono.jpg');

    border: aqua solid 1px;
    border-radius: 50%;
}
.left-box
{
    width: 100%;
    height: 8%;
    
    background-color: aliceblue;
    position: relative;
    
    text-decoration: none;
   
    border: azure solid 0.5px;
    border-radius: 10px 10px 10px 10px;
    
    
}
.text-slid-box
{
    text-align: center;
}
.left-box ul li
{
    background-color: azure;
    position: relative;
    float: right;
    color: beige;
    
}

h1{
    color: aqua;
    text-align: center;
}

.contact {background-color: #252F31;overflow: hidden;margin-top: 50px;}

.contact .info{ width: 50%; margin-right: 5%;}
.contact h2 { color: #fff ;margin-left: 40px;}

.contact p {color:#6A6E71;margin-left: 40px ;}
.contact p strong {color: #D1D6DA}

.contact .form {width: 45%;}
.contact .form label{display: block;color:#6A6E71;margin:10px 0;}
.contact .form input[type="text"]{
    background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}   
.contact .form textarea{
    background-color: #4B5557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 200px;
}   

.contact .form input[type="submit"]{
    background-color: #191E22;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px
    }
